<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qiqiao.mapper.studentsMapper">
  <resultMap id="BaseResultMap" type="com.qiqiao.model.students">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="classes" jdbcType="VARCHAR" property="classes" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="time" jdbcType="VARCHAR" property="time" />
    <result column="username" jdbcType="VARCHAR" property="username" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, classes, password, time, username,fangxiang
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from students
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByUsername"  resultType="com.qiqiao.model.students">
    select * from students where username= #{username,jdbcType=VARCHAR}
  </select>

  <select id="findAllStudents"  resultType="com.qiqiao.model.students">
    select * from students
  </select>

  <select id="findStudentByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select * from students where name= #{name,jdbcType=VARCHAR}
  </select>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from students
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.qiqiao.model.students">
    insert into students (id, name, classes, 
      password, time, username,fangxiang
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{classes,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{time,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},#{fangxiang,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.qiqiao.model.students">
    insert into students
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="classes != null">
        classes,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="username != null">
        username,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="classes != null">
        #{classes,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.qiqiao.model.students">
    update students
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="classes != null">
        classes = #{classes,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        fangxiang = #{fangxiang,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.qiqiao.model.students">
    update students
    set name = #{name,jdbcType=VARCHAR},
      classes = #{classes,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      time = #{time,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      fangxiang = #{fangxiang,jdbcType=VARCHAR},
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>